@page "/DatosMapa/{ID}"
@inject IVehiculosManager VehiculosManager
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject Radzen.DialogService dialogService

<style>
    body {
        font-family: 'Montserrat', sans-serif;
    }

    /* Category Ads */

    #ads {
        margin: 30px 0 30px 0;
    }

        #ads .card-notify-badge {
            position: absolute;
            left: -10px;
            top: -20px;
            background: #f2d900;
            text-align: center;
            border-radius: 30px 30px 30px 30px;
            color: #000;
            padding: 5px 10px;
            font-size: 14px;
        }

        #ads .card-notify-year {
            position: absolute;
            right: -10px;
            top: -20px;
            background: #ff4444;
            border-radius: 50%;
            text-align: center;
            color: #fff;
            font-size: 14px;
            width: 50px;
            height: 50px;
            padding: 15px 0 0 0;
        }


        #ads .card-detail-badge {
            background: #f2d900;
            text-align: center;
            border-radius: 30px 30px 30px 30px;
            color: #000;
            padding: 5px 10px;
            font-size: 14px;
        }



        #ads .card:hover {
            background: #fff;
            box-shadow: 12px 15px 20px 0px rgba(46,61,73,0.15);
            border-radius: 4px;
            transition: all 0.3s ease;
        }

        #ads .card-image-overlay {
            font-size: 20px;
        }


            #ads .card-image-overlay span {
                display: inline-block;
            }


        #ads .ad-btn {
            text-transform: uppercase;
            width: 150px;
            height: 40px;
            border-radius: 80px;
            font-size: 16px;
            line-height: 35px;
            text-align: center;
            border: 3px solid #e6de08;
            display: block;
            text-decoration: none;
            margin: 20px auto 1px auto;
            color: #000;
            overflow: hidden;
            position: relative;
            background-color: #e6de08;
        }

            #ads .ad-btn:hover {
                background-color: #e6de08;
                color: #1e1717;
                border: 2px solid #e6de08;
                background: transparent;
                transition: all 0.3s ease;
                box-shadow: 12px 15px 20px 0px rgba(46,61,73,0.15);
            }

        #ads .ad-title h5 {
            text-transform: uppercase;
            font-size: 18px;
        }
</style>

<RadzenCard>
    <div class="row">
        <a class="btn btn-primary" href='/VistaPorMapa'><i class="fas fa-backward"></i>  Volver atrás</a>
    </div>
    <br />
    <div class="container">
        <h3 class="text-center">Datos del @vehiculo.Marca @vehiculo.Modelo</h3>
        <div class="container" style="width:30rem;">
            <div class="row" id="ads">
                <center>
                    <div class="card rounded">
                        <div class="card-image">
                            <span class="card-notify-badge">@vehiculo.Marca @vehiculo.Modelo</span>
                            <span class="card-notify-year">@vehiculo.Año</span>
                            <img class="img-fluid" style="width:60rem; height:18.5rem;" src="@vehiculo.Foto" alt="Alternate Text" />
                        </div>
                        <br />
                        <div class="card-image-overlay m-auto">
                            <span class="card-detail-badge">@vehiculo.Color</span>
                        </div>
                        <br />
                    </div>
                    <br />
                    <h3 class="text-center"><strong>Próximas tres citas</strong></h3>
                    @if (ReservaModel == null)
                    {
                        //Variable para que se muestre si se pasaron valores nullos a la instancia.
                        MensajeNull = "Error";
                    }
                    else
                    {
                        foreach (var factura in ReservaModel)
                        {
                            if (factura.Fecha_Inc == "" && factura.Fecha_Fin == "")
                            {
                                <p><strong>No tiene citas...</strong></p>
                            }
                            else
                            {
                                count += 1;
                                <p><strong>Cita @count: </strong>@factura.Fecha_Inc - @factura.Fecha_Fin</p>
                            }

                        }
                    }
                </center>
            </div>
        </div>
    </div>
</RadzenCard>


@code {
    [Parameter]
    public string ID { get; set; }

    int count;

    string MensajeNull;

    //Instancia una lista de la clase de vehiculos
    List<Factura> ReservaModel;

    //Instancia de la Clase Vehiculo
    Vehiculos vehiculo = new Vehiculos();

    //Metodo que cuando se carga la vista, el mismo carga por medio del ID cada uno de los impus
    protected override async Task OnInitializedAsync()
    {
        //Se obtiene el ID por medio del LocalStorage
        String name = await localStorage.GetItemAsync<string>("ID_Institucion");

        vehiculo = await VehiculosManager.GetById(Convert.ToInt32(ID), name);
        ReservaModel = await VehiculosManager.ListarReservasVehiculo(name, ID);

    }

}